accelerate==1.2.1
bitsandbytes==0.45.0
datasets
einops
flash-attn==2.7.2.post1
transformers==4.46.3
transformers_stream_generator==0.0.5
isort
jsonlines
loralib
optimum
packaging
peft==0.14.0
tensorboard
torch==2.2.1
torchmetrics==1.6.0
tqdm
wheel
tiktoken==0.8.0
sentencepiece==0.2.0